<p-dialog header="Cadastro usuario" [(visible)]="displayCadastro" [modal]="true" [style]="{width: '50vw'}">
  <form #f="ngForm">
    <div class="form-group">
      <label for="nome">Nome: </label>
      <input type="text" pInputText placeholder="nome" name="nome" class="form-control" ngModel>
    </div>
    <div class="form-group">
      <label for="sobreNome">Sobrenome: </label>
      <input type="text" pInputText placeholder="Sobrenome" name="sobreNome" class="form-control" ngModel>
    </div>
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="email" pInputText placeholder="email" name="email" class="form-control" ngModel>
    </div>
    <div class="form-group">
      <label for="dataNascimento">Data de nascimento: </label>
      <input type="date" pInputText  name="dataNascimento" class="form-control" ngModel>
    </div>
    <div class="form-group">
      <label for="escolaridade">Escolaridade: </label>
      <p-dropdown name="escolaridade" [options]="escolaridades" ngModel></p-dropdown>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button type="submit" pButton icon="pi pi-check" (click)="Cadastrar(f)" label="Aceitar" class="p-button-success"></button>
    <button type="button" pButton icon="pi pi-times" (click)="displayCadastro=false" label="Voltar" class="p-button-danger"></button>
  </ng-template>
</p-dialog>
