<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <button pButton label="novo" icon="pi pi-plus" class="p-button-success" (click)="Create()"></button>
  </div>
  </p-toolbar>
  <p-table [value]="usuariosList" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="caption">
        Usuarios
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Data de nascimento</th>
            <th>Escolaridade</th>
            <th>Editar</th>
            <th>Delete</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
        <tr>
            <td>{{usuario.id}}</td>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.sobreNome}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.dataNascimento}}</td>
            <td>{{usuario.escolaridade}}</td>
            <td><button pButton pRipple label="Editar" icon="pi pi-pencil" class="p-button-warning" (click)="Editar(usuario)"></button></td>
            <td><button pButton pRipple label="delete" icon="pi pi-trash" class="p-button-danger" (click)="Delete(usuario.id)"></button></td>
        </tr>
    </ng-template>
  </p-table>
</div>

<div *ngIf="displayDetalhes">
  <app-usuarios-detalhes [displayDetalhes]="displayDetalhes" [usuario]="usuarioEditar"></app-usuarios-detalhes>
</div>

<div *ngIf="displayCadastro">
  <app-usuarios [displayCadastro]="displayCadastro"></app-usuarios>
</div>
